/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* General Style */
* {
	margin: 0;
	padding: 0;
	border: none;

}

body {
	font-family: Josefin, sans-serif;
	font-weight: 200;
	color: #3a3a3a;
}

h1,
h2 {
	font-family: Raleway, sans-serif;
	font-weight: 300;
	letter-spacing: 5px;
	color: rgb(75, 94, 42);
	text-align: center;
	text-transform: uppercase;
}

h3 {
	font-family: Raleway, sans-serif;
}



.sec-break {
	height: 1px;
	flex: 100%;
	background-color: rgb(75, 94, 42);
}



/* HOME PAGE */

/* Logo and Header Section */

.logo-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70px;
	height: 70px;
	padding-top: 5px;
}

#logo {
	text-align: center;
	font-size: 300%;
}

/*  Logo and Header Section - Mobile responsive */

@media screen and (max-width:500px) {
	.logo-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50px;
		height: 50px;
		padding-top: 3px;
	}

	#logo {
		text-align: center;
		font-size: 200%;
	}

	@media screen and (max-width:280px) {
		#logo {
			text-align: center;
			font-size: 130%;
		}
	}
}

/* Social Media Section */

.social-networks {
	text-align: center;
}

.social-networks li {
	display: inline;
}

.social-networks i {
	font-size: 150%;
	margin: 1%;
	color: rgb(75, 94, 42);
}

/* Social Media Section - Mobile responsive */
@media (max-width: 500px) {

	.social-networks i {
		font-size: 100%;
		margin: 1%;
		color: rgb(75, 94, 42);
	}
}

/*  Navigation Bar Section - based on tutorial from arcode */

/*hiding label and checkbox*/
input[type=checkbox],
.show-menu {
	display: none;
}

/*styling our wrapper*/
.wrapper {
	max-width: 100%;
	margin: 0 auto;
	color: rgb(75, 94, 42);
	font-family: Raleway, sans-serif;
}

/*styling navigation*/
.navigation {
	display: flex;
	list-style-type: none;
}

/*styling list items->li in navigation*/
.navigation li {
	background: rgb(214, 210, 188);
	flex: 1;
	text-align: center;
	color: rgb(75, 94, 42);
	transition: all .2s ease;
}

/*giving border left to all list items, but not to our first list item*/
.navigation li:not(:first-child) {
	border-left: 2px solid white;
}

/*styling hover*/
.navigation li:hover {
	background: rgb(202, 209, 190);
	flex: 1.1;
}

/*styling our anchor tag*/
.navigation li a {
	display: block;
	padding: 20px 0;
	color: rgb(75, 94, 42);
	text-decoration: none;
}

/* Navigation Bar Section - Mobile responsive */

@media screen and (max-width:600px) {

	/*styling our show menu button*/
	.show-menu {
		background: rgb(202, 209, 190);
		display: flex;
		cursor: pointer;
		padding: 20px 0;
		justify-content: center;
	}

	/*hiding our navigation*/
	.navigation {
		display: none;
	}

	/*displaying our list items as block element; if checkbox is check*/
	input[type=checkbox]:checked~.navigation {
		display: block;
	}

	/*removing border left from the pseudo class*/
	.navigation li:not(:first-child) {
		border: 0;
	}

	/*giving margin to list item, excluding last list item*/
	.navigation li:not(:last-child) {
		margin: 2px 0;
	}
}

/* Hero-image and Cover Text Section */

.hero-image {
	background-image: url('../images/hero-img.jpg');
	height: 600px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#cover-text {
	background-color: rgba(221, 6, 53, 0.507);
	height: 6%;
	width: 40%;
	position: absolute;
	top: 600px;
	font-family: "Dancing Script", sans-serif;
	color: white;
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
	padding-top: 1%;
}

/* Hero-Image and Cover Text Section - Mobile responsive */

@media screen and (max-width:1100px) {
	#cover-text {
		text-align: center;
		font-size: 37px;
		height: 6%;
	}
}

@media screen and (max-width:975px) {
	#cover-text {
		text-align: center;
		font-size: 35px;
		height: 7%;
		top: 620px;
		padding: 2%;
	}
}

@media screen and (max-width:700px) {

	#cover-text {
		text-align: center;
		font-size: 32px;

	}
}

@media screen and (max-width:640px) {
	#cover-text {
		text-align: center;
		font-size: 28px;
		height: 8%;
		top: 620px;
		padding: 2%;

	}
}

@media screen and (max-width:412px) {

	#cover-text {
		text-align: center;
		font-size: 26px;
		height: 8%;
		top: 620px;
		padding: 2%;
	}

}

@media screen and (max-width:360px) {

	#cover-text {
		font-size: 22px;
		height: 8%;
		top: 620px;
		padding: 2%;
	}

}

@media screen and (max-width:300px) {

	#cover-text {
		height: 12%;
	}

}

/* Scroll Down Arrow */

.scroll-down >p {
	text-align: center;
	font-size: 50px;
	color: rgb(75, 94, 42);
	text-decoration: none;
}

.scroll-down .fas {
	color: rgba(221, 6, 53, 0.507);
}

.scroll-down a:hover {
	color: rgb(75, 94, 42);
}

/* About Us Section */

.about-container {
	width: 100%;
	height: 300px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.about-container >div {
	color: black;
	background-color: white;
	padding: 20px;
	display: inline-block;
	width: 90%;
	height: 85%;
	text-align: center;
	padding: 5px;
	font-size: 18px;
	margin: 20px;
	text-align: center;
}

.about-container >h3 {
	text-align: center;
}

.about-container >p {
	text-align: center;
}

/* About Us Section - Mobile responsive media queries */

@media screen and (max-width:1200px) {
	
	.about-container >div {
		font-size: 120%;
		height: 80%;
	}
}

@media screen and (max-width:855px) {
	.about-container {
		height: 350px;
	}
	
	.about-container >div {
		height: 180px;
		padding: 0;
		height: 90%;
	}
}

@media screen and (max-width:500px) {
	.about-container>div {
		font-size: 17px;
		height: 180px;
		padding: 0;
		height: 90%;
		margin-top: 0;
	}
}

@media screen and (max-width:390px) {
	.about-container >div {
		font-size: 16px;
		height: 180px;
		padding: 0;
		height: 90%;
		margin-top: 0;
	}
	.about-container h2 {
		font-size: 18px;
	}
}

@media screen and (max-width:300px){
	
	.about-container {
		height: 445px;
	}
	
	.about-container h2 {
		font-size: 16px;
	}

}

/* Yoga Information Section */

#yoga {
	margin-top:50px;
}

.yoga-container {
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
	width: 100%;
}

.yoga-intro {
	height: 100px;
	flex: 100%;
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;	
}

.yoga-intro >p {
	text-align: center;
	font-size: 18px;
}

.yoga-left {
	flex: 45%;
	height: 660px;
	background-color: rgb(245, 218, 223,0.4);
	padding-left: 20px;
	padding-right: 20px;
	font-size: 21px;
}

.yoga-right {
	flex: 45%;
	height: 660px;
	background-color: rgb(202, 209, 190,0.4);
	padding-left: 20px;
	padding-right: 20px;
	font-size: 21px;
}

.yoga-right >img {
	height: 150px;
	width: 120px;
	float: left;
	margin-right: 10px;
	border: 2px solid green;
	object-fit: cover;
}


/* Yoga Information Section - Mobile responsive - makes a one column-layout instead of a two-column layout and re-adjusts font-size */

@media (max-width: 890px) {

	.yoga-right,
	.yoga-left {
		flex: 100%;
		flex-direction: column;
		font-size: 20px;
		height: 550px;
	}

	.yoga-intro>p {
		text-align: justify;
		font-size: 18px;
	}
}
@media (max-width: 615px) {
	.yoga-right,
	.yoga-left {
		
		height: 600px;
	}
}

@media (max-width: 525px) {
	
	.yoga-left {
			height: 650px;
			font-size: 18px;
	}
	.yoga-right {
			height: 675px;
			font-size: 18px;
		}
}
	
	@media (max-width: 450px) {
	
	.yoga-intro {
			height:130px;
		}
		

		.yoga-intro >p {
			text-align: justify;
			font-size: 18px;
		}

}

	@media (max-width: 425px) {

		.yoga-intro {
			height:150px;
		}

		.yoga-intro >p {
			text-align: center;
			font-size: 18px;
		}

		.yoga-left {
			height:600px;
			font-size:16px;
		}

		.yoga-right {
			height:700px;
			font-size:16px;
		}

}

@media (max-width: 300px) {

		.yoga-right {
			height:800px;
			font-size:16px;
		}

}


/* Join Us link - Yoga , Pilates and Meditation Section */

.contact-us {
	width: 100px;
	border: 5px solid #f16c6b;
	padding: 5px;
	font-size: 16px;
	margin-left: 47%;
	margin-bottom: 20px;
	text-align: center;
}

.contact-us a {
	color: black;
	font-family: Raleway, sans-serif;
	text-decoration: none;
}

.contact-us a:hover {

	border-bottom: 1px solid red;
	color: blueviolet;
}

.center {
	text-align:center;
}

.red{
	color:red
}


/* Join Us link - Yoga , Pilates and Meditation Section - Mobile Responsive media query */

@media (max-width: 800px) {

	.contact-us {
		margin-left: 38%;
	}

}


/* Pilates Information Section */

#pilates {
	margin-top:50px;
}

.pilates-container {
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
	width: 100%;
}

.pilates-intro {
	height: 100px;
	flex: 100%;
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}

.pilates-intro >p {
	text-align: center;
	font-size: 18px;
}

.pilates-left {
	flex: 45%;
	height: 660px;
	background-color: rgb(245, 218, 223,0.4);
	padding-left: 20px;
	padding-right: 20px;
	font-size: 21px;
}

.pilates-right {
	flex: 45%;
	height: 660px;
	background-color: rgb(202, 209, 190,0.4);
	padding-left: 20px;
	padding-right: 20px;
	font-size: 21px;
}

.pilates-right >img {
	height: 150px;
	width: 120px;
	float: left;
	margin-right: 10px;
	border: 2px solid green;
	object-fit: cover;
	
}


/* Pilates Information Section - Mobile responsive - makes a one column-layout instead of a two-column layout and re-adjusts font-size */

@media (max-width: 890px) {

	.pilates-right,
	.pilates-left {
		flex: 100%;
		flex-direction: column;
		font-size: 20px;
		height: 550px;
	}

	.pilates-intro>p {
		text-align: justify;
		font-size: 18px;
	}
}
@media (max-width: 615px) {
.pilates-right,
	.pilates-left {
		
		height: 600px;
	}
}

@media (max-width: 525px) {
	
		.pilates-left {
			height: 650px;
			font-size: 18px;
		}
		.pilates-right {
			height: 675px;
			font-size: 18px;
		}
	}
	
	@media (max-width: 450px) {
		.pilates-intro {
			height:130px;
		}
		

		.pilates-intro >p {
			text-align: justify;
			font-size: 18px;
		}

	}

	@media (max-width: 425px) {

		.pilates-intro {
			height:150px;
		}

		.pilates-intro >p {
			text-align: center;
			font-size: 18px;
		}

		.pilates-left {
			height:600px;
			font-size:16px;
		}

		.pilates-right {
			height:700px;
			font-size:16px;
		}

}

@media (max-width: 300px) {

		.pilates-right {
			height:800px;
			font-size:16px;
		}

}



/* Meditation Information Section */

#meditation {
	margin-top:50px;
}

.meditation-container {
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
	width: 100%;
}

.meditation-intro {
	height: 100px;
	flex: 100%;
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}

.meditation-intro >p {
	text-align: center;
	font-size: 18px;
}

.meditation-left {
	flex: 45%;
	height: 660px;
	background-color: rgb(245, 218, 223,0.4);
	padding-left: 20px;
	padding-right: 20px;
	font-size: 21px;
}

.meditation-right {
	flex: 45%;
	height: 660px;
	background-color: rgb(202, 209, 190,0.4);
	padding-left: 20px;
	padding-right: 20px;
	font-size: 21px;
}

.meditation-right >img {
	height: 160px;
	width: 130px;
	float: left;
	margin-right: 10px;
	border: 2px solid green;
	object-fit: cover;
	
}

 /* Meditation Information Section - Mobile responsive - makes a one column-layout instead of a two-column layout and re-adjusts font-size */

 @media (max-width: 890px) {

	.meditation-right,
	.meditation-left {
		flex: 100%;
		flex-direction: column;
		font-size: 20px;
		height: 550px;
	}

	.meditation-intro>p {
		text-align: justify;
		font-size: 18px;
	}
}
@media (max-width: 615px) {
.meditation-right,
	.meditation-left {
		
		height: 600px;
	}
}

@media (max-width: 525px) {
	
		.meditation-left {
			height: 650px;
			font-size: 18px;
		}
		.meditation-right {
			height: 675px;
			font-size: 18px;
		}
	}
	
	@media (max-width: 450px) {
		.meditation-intro {
			height:130px;
		}
		

		.meditation-intro >p {
			text-align: justify;
			font-size: 18px;
		}

	}

	@media (max-width: 425px) {

		.meditation-intro {
			height:150px;
		}

		.meditation-intro >p {
			text-align: center;
			font-size: 18px;
		}

		.meditation-left {
			height:600px;
			font-size:16px;
		}

		.meditation-right {
			height:700px;
			font-size:16px;
		}

}

@media (max-width: 300px) {

		.meditation-right {
			height:800px;
			font-size:16px;
		}

}

/* Footer */

footer {
	margin-bottom: 0;
	padding: 1em;
	height: 70px;
	text-align: center;
	font-family: Raleway, sans-serif;
	color: rgb(75, 94, 42);
	background-color: rgb(224, 214, 185);
	bottom: 0;
	right: 0;
	z-index: 3;
}

footer>p {
	font-size: 10px;
	text-align: center;
}

/* Footer - Mobile Responsive */

@media (max-width: 280px) {

	footer {
		height: 90px;
	}

}

/* GALLERY PAGE */

/* Image Gallery Section */

.flex-container {
	display: flex;
	flex-direction: row;
	font-size: 30px;
	text-align: center;
}

.flex-item-1 {
	padding: 3px;
	flex: 25%;
}

.flex-item-1>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-2 {

	padding: 3px;
	flex: 25%;
}

.flex-item-2>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-3 {
	padding: 3px;
	flex: 25%;
}

.flex-item-3>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-4 {
	padding: 5px;
	flex: 25%;
}

.flex-item-4>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-5 {
	padding: 5px;
	flex: 25%;
}

.flex-item-5>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-6 {
	padding: 5px;
	flex: 25%;
}

.flex-item-6>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-7 {
	padding: 5px;
	flex: 25%;
}

.flex-item-7>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-8 {
	padding: 5px;
	flex: 25%;
}

.flex-item-8>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-9 {
	padding: 5px;
	flex: 25%;
}

.flex-item-9>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}


/* GALLERY PAGE- Image Gallery Section - Mobile responsive - makes a one column-layout instead of a two-column layout */

@media (max-width: 800px) {
	.flex-container {
		flex-direction: column;
	}

	.flex-item-1>img {
		width: 350px;
		height: 300px;
		margin: 0;
	}

	.flex-item-2>img {
		width: 350px;
		height: 300px;
		margin: 0;
	}

	.flex-item-3>img {
		width: 350px;
		height: 300px;
		margin: 0;
	}

	.flex-item-4>img {
		width: 350px;
		height: 300px;
		margin: 0;
	}

	.flex-item-5>img {
		width: 350px;
		height: 300px;
		margin: 0;
	}

	.flex-item-6>img {
		width: 350px;
		height: 300px;
		margin: 0;
	}

	.flex-item-7>img {
		width: 350px;
		height: 300px;
		margin: 0;
	}

	.flex-item-8>img {
		width: 350px;
		height: 300px;
		margin: 0;
	}

	.flex-item-9>img {
		width: 350px;
		height: 300px;
		margin: 0;
	}
}

@media (max-width: 1200px) {

	.flex-item-1>img {
		width: 250px;
		height: 200px;
	}

	.flex-item-2>img {
		width: 250px;
		height: 200px;
	}

	.flex-item-3>img {
		width: 250px;
		height: 200px;
	}

	.flex-item-4>img {
		width: 250px;
		height: 200px;
	}

	.flex-item-5>img {
		width: 250px;
		height: 300px;
	}

	.flex-item-6>img {
		width: 250px;
		height: 300px;
	}

	.flex-item-7>img {
		width: 250px;
		height: 300px;
	}

	.flex-item-8>img {
		width: 250px;
		height: 300px;
	}

	.flex-item-9>img {
		width: 250px;
		height: 300px;
	}
}

@media (max-width: 350px) {
	.flex-container {
		flex-direction: column;
	}

	.flex-item-1>img {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	.flex-item-2>img {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	.flex-item-3>img {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	.flex-item-4>img {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	.flex-item-5>img {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	.flex-item-6>img {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	.flex-item-7>img {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	.flex-item-8>img {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	.flex-item-9>img {
		width: 300px;
		height: 300px;
		margin: 0;
	}
}

@media (max-width: 280px) {

	.flex-container {
		flex-direction: column;
	}

	.flex-item-1>img {
		width: 200px;
		height: 200px;
		margin: 0;
	}

	.flex-item-2>img {
		width: 200px;
		height: 200px;
		margin: 0;
	}

	.flex-item-3>img {
		width: 200px;
		height: 200px;
		margin: 0;
	}

	.flex-item-4>img {
		width: 200px;
		height: 200px;
		margin: 0;
	}

	.flex-item-5>img {
		width: 200px;
		height: 200px;
		margin: 0;
	}

	.flex-item-6>img {
		width: 200px;
		height: 200px;
		margin: 0;
	}

	.flex-item-7>img {
		width: 200px;
		height: 200px;
		margin: 0;
	}

	.flex-item-8>img {
		width: 200px;
		height: 200px;
		margin: 0;
	}

	.flex-item-9>img {
		width: 200px;
		height: 200px;
		margin: 0;
	}

}

/* CONTACT US PAGE */

.contact-container {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
}

.contact-left {
	flex: 45%;
	height: 750px;
	background-color: rgb(245, 218, 223, 0.4);
	padding-left: 20px;
}

.contact-right {
	flex: 45%;
	height: 750px;
	background-color: rgb(202, 209, 190, 0.4);
	font-size: 16px;
	padding-left: 20px;
}

.contact-right>img {
	margin-left: 70px;
	width: 70%;
}

.contact-right>p {
	margin-left: 70px;
}

.input[type=text],
[type=email],
select,
textarea {
	width: 80%;
	padding: 12px;
	border: 1px solid black;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type="radio"] {
	margin-left: 5px;
}

input[type=submit] {
	margin-top: 20px;
	border-radius: 2px;
	padding: 15px 32px 15px 32px;
	text-align: center;
	font-size: 100%;
	background-color: #f16c6b;
	color: #fafafa;
	display: block;
	width: 200px;
	margin-top: 5px;
}

/* CONTACT US PAGE - Mobile responsive - makes a one column-layout instead of a two-column layout and re-adjusts margin of "How to find us section" */

@media (max-width: 800px) {

	.contact-right,
	.contact-left {
		flex: 100%;
		font-size: 14px;
	}

	.contact-right>img {
		margin-left: 15px;
		width: 70%;
	}

	.contact-right>p {
		margin-left: 12px;
	}
}

@media (max-width: 500px) {

	.contact-right>img {
		margin-left: 10px;
	}

	.contact-right>p {
		margin-left: 10px;
		margin-right: 10px;
		font-size: 13px;
	}
}

@media (max-width: 280px) {

	input[type="radio"] {
		margin-left: 2px;
	}

	input[type=submit] {
		width: 180px;
	}
}