@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: Josefin, sans-serif;
	font-weight: 200;
	color: #3a3a3a;


}

h1,
h2 {
	font-family: Raleway, sans-serif;
	font-weight: 300;
	letter-spacing: 5px;
	color: rgb(75, 94, 42);
	text-align: center;
	text-transform: uppercase;

}

h3 {
	font-family: Raleway, sans-serif;

}

/* Logo & Header Style */

.logo-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70px;
	height: 70px;
	padding-top: 5px;

}

#logo {
	text-align: center;
	font-size: 300%;

}

/* Logo & Header style - Mobile responsive */

@media screen and (max-width:500px) {
	.logo-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50px;
		height: 50px;
		padding-top: 3px;

	}

	#logo {
		text-align: center;
		font-size: 200%;

	}
}

/* Social Media links */

.social-networks {
	text-align: center;

}

.social-networks li {
	display: inline;
}

.social-networks i {
	font-size: 150%;
	margin: 1%;
	color: rgb(75, 94, 42);
}


/* Social Media Links - Mobile Responsive */
@media (max-width: 500px) {


	.social-networks i {
		font-size: 100%;
		margin: 1%;
		color: rgb(75, 94, 42);
	}
}

/* Navigation Bar*/

/*hiding label and checkbox*/
input[type=checkbox],
.show-menu {
	display: none;
}



/*styling our wrapper*/
.wrapper {
	max-width: 100%;
	margin: 0 auto;
	color: rgb(75, 94, 42);
	font-family: Raleway, sans-serif;
}



/*styling navigation*/
.navigation {
	display: flex;
	list-style-type: none;
}

/*styling list items->li in navigation*/
.navigation li {
	background: rgb(214, 210, 188);
	flex: 1;
	text-align: center;
	color: rgb(75, 94, 42);
	transition: all .2s ease;
}

/*giving border left to all list items, but not to our first list item*/
.navigation li:not(:first-child) {
	border-left: 2px solid white;
}

/*styling hover*/
.navigation li:hover {
	background: rgb(202, 209, 190);
	flex: 1.1;
}

/*styling our anchor tag*/
.navigation li a {
	display: block;
	padding: 20px 0;
	color: rgb(75, 94, 42);
	text-decoration: none;
}

/* Navigation Bar - Mobile Responsiveness */

@media screen and (max-width:600px) {

	/*styling our show menu button*/
	.show-menu {
		background: rgb(202, 209, 190);
		display: flex;
		cursor: pointer;
		padding: 20px 0;
		justify-content: center;
	}

	/*hiding our navigation*/
	.navigation {
		display: none;
	}

	/*displaying our list items as block element; if checkbox is check*/
	input[type=checkbox]:checked~.navigation {
		display: block;
	}

	/*removing border left from the pseudo class*/
	.navigation li:not(:first-child) {
		border: 0;
	}

	/*giving margin to list item, excluding last list item*/
	.navigation li:not(:last-child) {
		margin: 2px 0;
	}
}

/* Hero-image and Cover Text*/

.hero-image {
	background-image: url('../images/hero-img.jpg');
	height: 600px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#cover-text {
	background-color: rgba(221, 6, 53, 0.507);
	height: 14%;
	width: 50%;
	position: absolute;
	top: 600px;
	font-family: Dancing Script, sans-serif;
	color: rgb(239, 243, 239);
	font-size: 190%;
	text-align: center;


}

/*Hero-Image and Cover Text - Mobile responsive*/
@media screen and (max-width:1200px) {
	#cover-text {
		text-align: center;
		font-size: 500%;
		height: 8%;




	}
}

@media screen and (max-width:1200px) {
	#cover-text {
		text-align: center;
		font-size: 130%;
		height: 8%;
		top: 600px;



	}


	@media screen and (max-width:700px) {
		#cover-text {
			text-align: center;
			font-size: 90%;
			height: 14%;
			top: 620px;
			padding: 0;
		}

	}



	@media screen and (max-width:600px) {
		#cover-text {
			text-align: center;
			font-size: 90%;
			height: 10%;
			top: 620px;
			padding: 0;

		}
	}

	@media screen and (max-width:500px) {
		#cover-text {
			text-align: center;
			font-size: 60%;
			height: 6%;
			top: 620px;
			padding: 0;

		}

		@media screen and (max-width:350px) {
			#cover-text {
				text-align: center;
				font-size: 55%;
				height: 7%;
				top: 620px;
				padding: 0;

			}
		}
	}
}

/* About Us Section */

.about-container {
	width: 100%;
	height: 300px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;

}


.about-container>div {
	color: black;
	background-color: white;
	padding: 20px;
	display: inline-block;
	width: 90%;
	height: 85%;
	text-align: center;
	padding: 5px;
	font-size: 16px;
	margin: 20px;

	text-align: justify;
}

.about-container>h3 {
	text-align: center;
}

/*About Us - Mobile responsive*/

@media screen and (max-width:1200px) {
	.about-container {
		height: 400px;


	}

	@media screen and (max-width:1200px) {
		.about-container>div {
			font-size: 120%;
			height: 80%;


		}

		@media screen and (max-width:800px) {
			.about-container>div {
				font-size: 100%;
				height: 180px;
				padding: 0;
				height: 90%;


			}

			@media screen and (max-width:500px) {
				.about-container>div {
					font-size: 82%;
					height: 180px;
					padding: 0;
					height: 90%;
					margin-top: 0;



				}
			}
		}
	}
}

/* Yoga Information*/

.yoga-container {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	text-align: justify;
	width: 100%;

}

.yoga-intro{
height:100px;
flex: 100%;


}

.yoga-intro > p{
	text-align: center;
}
.yoga-left {
	flex: 50%;
	height: 400px;
	background-color: rgb(245, 218, 223);
}

.yoga-right {
	flex: 50%;
	height: 400px;
	background-color: rgb(202, 209, 190);
}

.yoga-right img {
	height: 70px;
	width: 70px;
	float: left;
}

.yoga-center {

	height: 300px;
	background-color: rgb(245, 236, 206);
	flex: 100%;

}

.contact-us {
	width: 100px;

	border: 5px solid #f16c6b;
	padding: 5px;
	font-size: 15px;
	margin-left: 45%;
	margin-bottom: 20px;



}

.contact-us a {
	color: black;
	font-family: Raleway, sans-serif;
	text-decoration: none;
}

.contact-us a:hover {

	border-bottom: 1px solid red;
	color: blueviolet;
}

/* Yoga Information - Mobile responsive - makes a one column-layout instead of a two-column layout and re-adjusts margin of contact us button */
@media (max-width: 800px) {

	.yoga-right,
	.yoga-left {
		flex: 100%;
	}

	.yoga-intro > p{
		text-align: justify;
		font-size: 13px;
	}
}

@media (max-width: 800px) {

	.table,
	td,
	th {
		font-size: 8px;

	}
}

@media (max-width: 800px) {

	.contact-us {
		margin-left: 32%;
	}
}

/* Pilates Information*/

.pilates-container {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	text-align: justify;
	width: 100%;

}

.pilates-intro{
	height:100px;
	flex: 100%;
	
	
	}
	
	.pilates-intro > p{
		text-align: center;
	}

.pilates-left {
	flex: 50%;
	height: 400px;
	background-color: rgb(245, 218, 223);
}

.pilates-right {
	flex: 50%;
	height: 400px;
	background-color: rgb(202, 209, 190);
}

.pilates-right img {
	height: 80px;
	width: 120px;
	float: left;
}

.pilates-center {

	height: 300px;
	background-color: rgb(245, 236, 206);
	flex: 100%;

}


/* Pilates Information - Mobile responsive - makes a one column-layout instead of a two-column layout and re-adjusts margin of contact us button */
@media (max-width: 800px) {

	.pilates-right,
	.pilates-left {
		flex: 100%;
	}
	.pilates-intro > p{
		text-align: justify;
		font-size: 13px;
	}
}

/* Meditation Information*/

.meditation-container {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	text-align: center justify;
	width: 100%;

}


.meditation-left {
	flex: 50%;
	height: 400px;
	background-color: rgb(245, 218, 223);
}

.meditation-right {
	flex: 50%;
	height: 400px;
	background-color: rgb(202, 209, 190);
}

.meditation-right img {
	height: 100px;
	width: 100px;
	float: left;
}

.meditation-center {

	height: 300px;
	background-color: rgb(245, 236, 206);
	flex: 100%;

}


/* MeditationInformation - Mobile responsive - makes a one column-layout instead of a two-column layout and re-adjusts margin of contact us button */
@media (max-width: 800px) {

	.meditation-right,
	.meditation-left {
		flex: 100%;
	}
}

/*Footer*/

footer {


	margin-bottom: 0;
	padding: 1em;
	height: 70px;
	text-align: center;
	font-family: Raleway, sans-serif;
	color: rgb(75, 94, 42);
	background-color: rgb(224, 214, 185);

	bottom: 0;
	right: 0;
	z-index: 3;
}

footer>p {
	font-size: 10px;
	text-align: center;
}



/* Gallery Page */

.flex-container {
	display: flex;
	flex-direction: row;
	font-size: 30px;
	text-align: center;

}

.flex-item-1 {

	padding:3px;
	flex: 25%;
}

.flex-item-1>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-2 {

	padding:3px;
	flex: 25%;
}

.flex-item-2>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-3 {
	padding:3px;
	flex: 25%;
}

.flex-item-3>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-4 {

	padding: 5px;
	flex: 25%;
	
}

.flex-item-4>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-5 {

	padding: 5px;
	flex: 25%;

}

.flex-item-5>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}
.flex-item-6 {

	padding: 5px;
	flex: 25%;
	
}

.flex-item-6>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-7 {

	padding: 5px;
	flex: 25%;

}

.flex-item-7>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-8 {

	padding: 5px;
	flex: 25%;
	
}

.flex-item-8>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}

.flex-item-9 {

	padding: 5px;
	flex: 25%;
}

.flex-item-9>img {
	width: 310px;
	height: 250px;
	margin-top: 50px;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */


@media (max-width: 800px) {
	.flex-container {
		flex-direction: column;
	}

	.flex-item-1>img {
		width: 350px;
		height: 300px;
		margin:0;
		
	}

	.flex-item-2>img {
		width: 350px;
		height: 300px;
		margin:0;
	
	}

	.flex-item-3>img {
		width: 350px;
		height: 300px;
		margin:0;
		
	}

	.flex-item-4>img {
		width: 350px;
		height: 300px;
		margin:0;
	}
	.flex-item-5>img {
		width: 350px;
		height: 300px;
		margin:0;
	}
	.flex-item-6>img {
		width: 350px;
		height: 300px;
		margin:0;
	}
	.flex-item-7>img {
		width: 350px;
		height: 300px;
		margin:0;
	}
	.flex-item-8>img {
		width: 350px;
		height: 300px;
		margin:0;
	}
	.flex-item-9>img {
		width: 350px;
		height: 300px;
		margin:0;
	}


	@media (max-width: 1200px) {


		.flex-item-1>img {
			width: 250px;
			height: 200px;
			
		}

		.flex-item-2>img {
			width: 250px;
			height: 200px;
			
		}

		.flex-item-3>img {
			width: 250px;
			height: 200px;
		
		}

		.flex-item-4>img {
			width: 250px;
			height: 200px;

		}
		.flex-item-5>img {
			width: 250px;
			height: 300px;
		}
		.flex-item-6>img {
			width: 250px;
			height: 300px;
		}
		.flex-item-7>img {
			width: 250px;
			height: 300px;
		}
		.flex-item-8>img {
			width: 250px;
			height: 300px;
		}
		.flex-item-9>img {
			width: 250px;
			height: 300px;
		}
		@media (max-width: 350px) {
			.flex-container {
				flex-direction: column;
			}

			.flex-item-1>img {
				width: 300px;
				height: 300px;
				margin:0;
			}

			.flex-item-2>img {
				width: 300px;
				height: 300px;
				margin:0;
			}

			.flex-item-3>img {
				width: 300px;
				height: 300px;
				margin:0;
			}

			.flex-item-4>img {
				width: 300px;
				height: 300px;
				margin:0;
			}
				.flex-item-5>img {
					width: 300px;
					height: 300px;
					margin:0;
				}
				.flex-item-6>img {
					width: 300px;
					height: 300px;
					margin:0;
				}
				.flex-item-7>img {
					width: 300px;
					height: 300px;
					margin:0;
				}
				.flex-item-8>img {
					width: 300px;
					height: 300px;
					margin:0;
				
			}
			.flex-item-9>img {
				width: 300px;
				height: 300px;
				margin:0;
			}
			}


		}
	}

/* Contact Us */

.input[type=text], [type=email] ,select, textarea {
	width: 80%;
	padding: 12px;
	border: 1px solid black;
	margin-top: 6px;
	margin-bottom: 16px;
	resize:vertical;
  }
  
  input[type=submit] {
	margin-top:20px;
	  border-radius:2px;
	  padding:15px 32px 15px 32px;
	  text-align:center;
	  font-size:100%;
	  background-color:#f16c6b;
	  color:#fafafa;
	  display:block;
	  width:200px;
  }
  
  
  
  
  
  
  
  
  /* Create two columns that float next to eachother */
  .column {
	float: left;
	width: 40%;
	margin-top: 6px;
	padding: 20px;
  }
  
  .column >p {
	font-size:20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  .final{
	height:200px;
	width:100%;
	background-color :yellow;
  }
  .final > img{
	height:10em;
	width:15%;
   }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column, input[type=submit] {
	  width: 80%;
	  margin-top: 0;
	}
  
  .input[type=text], [type=email] select {
	width:65%;
	padding: 12px;
	border: 1px solid black;
	margin-top: 6px;
	margin-bottom: 16px;
	resize:vertical;
  
   
  }
  
  input[type=submit] {
	  width:100px;
	  border-radius:2px;
	  text-align:center;
	  font-size:100%;
	  background-color:#f16c6b;
	  color:#fafafa;
	  display:block;
	  padding-left:25px;
  
  }
  .column >p {
	font-size:10px;
  }
  
	
	 
	 
	 
	  
	 
  }
  
  
  #submit{
	width: 100px;
	border: 5px solid #f16c6b;
	padding: 10px;
	margin: 20px;
	font-size: 30px;
   
  }
  
  #submit a {
	color:black;
	font-family:Raleway,sans-serif;
  }
  #submit a:hover {
  
	border-bottom: 1px solid red;
  }

  /* Scroll Down Arrow*/
  
  .scroll-down > p {
	text-align:center;
	font-size:50px;
	color:rgb(75, 94, 42);
	text-decoration: none;

  }
  .scroll-down a:hover {
	color: rgb(75, 94, 42);
  }
  




